@use '../../styles/variables' as *;

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  label {
    color: rgba($clr-text-400, 0.7);
    font-size: $fs-300;
    padding: 0.5rem 0;
  }

  input {
    padding: 0.6rem;
    font-size: $fs-300;
    border-radius: $fs-200;
    border: solid 1px;
  }
}
